body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.device-detail .ant-card {
  margin-bottom: 16px;
}

.device-detail .ant-card-head {
  min-height: 40px;
}

.device-detail .ant-card-body {
  padding: 16px;
}
